.notifications-popup {
    position: absolute;
    top: 25px;
    right: 0;
    background: #fff;
    display: none;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    min-width: 320px;
    padding: 15px;
    overflow-y: auto;
    max-height: 600px;
    z-index: 10;
}
.notification-item {
    box-shadow: inset 0px -1px 0px #F0F0F0;
    margin-bottom: 15px;
}
.notification-item:hover {
    background: #E6F7FF;
}
.header-icon img, .notifications-popup .btn-close, .notification-title {
    cursor: pointer;
}
.read-all.hidden, .notification-message {display: none}
.read-all-container {text-align: center}
.notifications-popup .btn-close {
    position: absolute;
    right: 10px;
    font-size: 10px;
    top: 10px;
}
.form-group label {
    font-size: 14px;
}
.form-group {
    margin-top: 10px;
}
.default-btn {
    width: auto !important;
    margin: 15px 0 !important;
}

.domain-popup .form-input {
    display: inline-block;
}
.centred-button {
    margin: 15px auto;
    text-align: center;
}
.invoices-table th {
    width: auto;
}
.btn-default {

}
