/* ----- BASE ----- */
html{
    font-size: 16px;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: #000;
    letter-spacing: 0.5px;
    font-weight: 400;
    line-height: 1.6875rem;
    -webkit-font-smoothing: antialiased;
    background-color: #F0F2F5;
}
.page-wrap{
    overflow: hidden;
}
a{
    text-decoration: none;
    transition: 0.4s;
    cursor: pointer;
}
a:hover{
    text-decoration: none;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
img{
    max-width: 100%;
    width: auto;
    height: auto;
}
.main-content {
    display: flex;
}
.content-wrap {
    flex: 1;
}
.form-control:focus {
    outline: none;
    box-shadow: none;
}
/* ----- /BASE ----- */
/*  */
/* ----- TYPOGRAPHY ----- */
.h1, h1,
.h2, h2,
.h3, h3,
.h4, h4,
.h5, h5,
.h6, h6{
    font-family: 'Roboto', sans-serif;
}
.h1, h1{
    font-weight: 500;
    color: rgba(0, 0, 0, 0.85);
    font-size: 1.25rem;
    letter-spacing: 0;
    line-height: 1.75rem;
}
.h3, h3 {
    font-size: 1.125rem;
    color: #001219;
    line-height: 1.3125rem;
    font-weight: 700;
    letter-spacing: 0;
    margin-bottom: 0.6rem;
}
.h5, h5 {
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 1rem;
    color: rgba(52, 50, 65, 0.85);
}
/* ----- /TYPOGRAPHY ----- */
/*  */
/* ----- BUTTONS ----- */
.btn {
    font-weight: 400;
    font-size: 0.875rem;
    border-radius: 0.125rem;
    letter-spacing: 0;
}
.btn-primary {
    background: #1890FF;
    border-color: #1890FF;
}
button, .btn-close:focus{
    box-shadow: none;
}
.btn-outline-secondary {
    border: 1px solid #D9D9D9;
    color: rgba(0, 0, 0, 0.85);
}
/* ----- /BUTTONS ----- */
/*  */
/* ----- HEADER ----- */
.header{
    display: flex;
    box-shadow: inset 0px -1px 0px #F0F0F0;
    padding: 0.5rem 1.6rem;
    background-color: #fff;
}
.header-nav{
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    align-items: center;
}
.header-nav .user-profile-link{
    display: flex;
    align-items: center;
    color: #000;
    margin-right: 0.4rem;
    font-size: 0.875rem;
    letter-spacing: 0;
    line-height: 1.375rem;
    margin-left: 1.5rem;
}
.header .logo {
    margin-left: -0.6rem;
}
.header-nav .user-profile-link .img-wrap {
    width: 1.5rem;
    height: 1.5rem;
    flex: 0 0 1.5rem;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 0.5rem;
}
.header-nav .user-profile-link .img-wrap img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.header-nav .header-icon {
    margin-left: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5rem;
    height: 1.5rem;
    flex: 0 0 1.5rem;
    position: relative;
}
.header-nav .header-icon .header-icon-number {
    position: absolute;
    color: #000000;
    height: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6.25rem;
    background-color: #FF4D4F;
    font-size: 0.75rem;
    line-height: 0.75rem;
    font-weight: 400;
    letter-spacing: 0;
    top: -0.6rem;
    left: 0.9rem;
    padding: 0 0.55rem;
}
/* ----- /HEADER ----- */
/*  */
/* ----- SIDEBAR ----- */
.sidebar {
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    background: #fff;
    padding: 0.3rem 0;
    min-height: calc(100vh - 3rem);
    display: flex;
    flex-direction: column;
    max-width: 3.3rem;
    flex: 0 0 3.3rem;
    overflow: hidden;
    transition: 0.4s;
    z-index: 100;
}
.sidebar .list-group-item {
    border-radius: 0;
    border: 0;
    padding: 0;
    margin-bottom: 0.5rem;
    cursor: pointer;
}
.sidebar .list-group-item a, .sidebar .list-group-item > span {
    display: flex;
    align-items: center;
    font-size: 0.875rem;
    font-weight: 400;
    letter-spacing: 0;
    padding: 0.4rem 0.6rem 0.4rem 0.8rem;
    border-right: 3px solid transparent;
    white-space: nowrap;
    transition: 0.4s;
    color: transparent;
}
.sidebar .list-group-item.active {
    background: #E6F7FF;
}
.sidebar .list-group-item.active a, .sidebar .list-group-item.active > span {
    border-right-color: #1890FF;
}
.sidebar .list-group-item a .icon-wrap, .sidebar .list-group-item > span .icon-wrap{
    width: 1.6rem;
    flex: 0 0 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
}
.sidebar .has-sub-menu > span::after {
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg width='8' height='6' viewBox='0 0 8 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.56093 5.18506C4.17185 5.44904 3.63797 5.40865 3.2932 5.06388L0.464768 2.23545C0.0742439 1.84493 0.0742439 1.21176 0.464768 0.821241C0.855293 0.430716 1.48846 0.430716 1.87898 0.821241L4.0003 2.94256L6.12165 0.821214C6.51218 0.430689 7.14534 0.430689 7.53587 0.821213C7.92639 1.21174 7.92639 1.8449 7.53587 2.23543L4.70744 5.06385C4.70255 5.06874 4.69763 5.07357 4.69266 5.07833C4.65116 5.11819 4.60706 5.15376 4.56093 5.18506Z' fill='black' fill-opacity='0.85'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    width: 0.5rem;
    height: 0.5rem;
    background-position: center;
    margin-left: auto;
    opacity: 0.85;
    transition: 0.4s;
}
.sidebar .sub-menu-open > span::after {
    transform: rotate(180deg);
    transition: 0.4s;
}
.sidebar .list-group-item .sub-menu {
    max-height: 0;
    height: auto;
    transition: 0.4s;
    overflow: hidden;
    visibility: hidden;
    padding-left: 1.4rem;
}
.sidebar .sub-menu-open .sub-menu {
    max-height: 1000px;
    visibility: visible;
    transition: 0.4s;
}
.sidebar .list-group-item > a svg path, .sidebar .list-group-item > span svg path {
    transition: 0.4s;
}   
.sidebar .list-group-item.active > a svg path, .sidebar .list-group-item.active > span svg path,
.sidebar .list-group-item:hover > a svg path, .sidebar .list-group-item:hover > span svg path {
    fill: #1890FF;
}
.sidebar .list-group-item+.list-group-item.active{
    margin-top: 0;
}
.sidebar-open .list-group-item:hover > a, .sidebar-open .list-group-item:hover > span{
    color: #1890FF;
}
.sidebar-open .list-group-item .sub-menu li:hover a{
    color: #1890FF;
}
.sidebar .sidebar-footer {
    margin-top: auto;
    box-shadow: inset 0px 1px 0px #F0F0F0;
    padding: 0.25rem 1.1rem;
    transition: 0.4s;
    position: fixed;
    bottom: 0;
    width: 3.3rem;
}
.sidebar-open {
    transition: 0.4s;
    max-width: 13rem;
    flex: 0 0 13rem;
}
.sidebar-open .list-group-item a .icon-wrap, .sidebar-open .list-group-item > span .icon-wrap {
    width: 0.875rem;
    flex: 0 0 0.875rem;
    margin-right: 0.6rem;
}
.sidebar-open .list-group-item a, .sidebar-open .list-group-item > span {
    padding: 0.4rem 1.3rem 0.4rem 1.5rem;
    color: rgba(0, 0, 0, 0.85);
}
.sidebar-open .list-group-item.active a, .sidebar-open .list-group-item.active > span {
    color: #1890FF;
}
.sidebar-open .sidebar-footer {
    width: 13rem;
}
/* ----- /SIDEBAR ----- */
/*  */
/* ----- BREADCRUMBS ----- */
.breadcrumb {
    margin-bottom: 0.8rem;
}
.breadcrumb .breadcrumb-item {
    font-size: 0.875rem;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 400;
    line-height: 1.375rem;
    letter-spacing: 0;
}
.breadcrumb .breadcrumb-item a {
    color: rgba(0, 0, 0, 0.45);
}
.breadcrumb-item+.breadcrumb-item::before {
    color: rgba(0, 0, 0, 0.45);
}
/* ----- /BREADCRUMBS ----- */
/*  */
/* ----- DASHBOARD CONTENT ----- */
.content-head {
    background-color: #fff;
    padding: 1.05rem 1.5rem 1.1rem;
    margin-bottom: 1.5rem;
}
.cards .col{
    padding: 0 0.625rem;
}
.content-wrap .container-fluid {
    padding: 0 0.9rem;
}
.content-wrap .container-fluid > .row {
    margin: 0 0 1.6rem;
}
.content-wrap .container-fluid > .row:last-child {
    margin-bottom: 1rem;
}
.graphs .col {
    padding: 0 0.625rem;
}
/* ----- /DASHBOARD CONTENT ----- */
/*  */
/* ----- TOTAL CARD ----- */
.total-card{
    background: #FFFFFF;
    border-radius: 0.125rem;
    padding: 1.25rem 1.1rem;
}
.total-card .total-link {
    display: flex;
    align-items: center;
}
.total-card .total-link .icon {
    width: 4.0625rem;
    flex: 0 0 4.0625rem;
    height: 4.0625rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 2.1rem;
}
.total-card .total-number {
    display: block;
    color: #343241;
    font-size: 2.25rem;
    line-height: 2.25rem;
    font-weight: 700;
    letter-spacing: 0;
    margin-bottom: 0.3rem;
}
.total-card-blue .total-link .icon {
    background: rgba(45, 47, 240, 0.1);
}
.total-card-red .total-link .icon {
    background: rgba(232, 0, 84, 0.1);
}
.total-card-green .total-link .icon {
    background: rgba(11, 221, 83, 0.1);
}
.total-card-footer .card-item {
    display: flex;
    justify-content: space-between;
    font-size: 0.75rem;
    color: #9998A0;
    font-weight: 700;
    line-height: 1.125rem;
    margin-bottom: 0.2rem;
}
.total-card-footer .card-item .number{
    color: rgba(45, 47, 240, 0.85);;
}
.total-card-footer {
    margin-top: 2.52rem;
    padding-left: 0.1rem;
    letter-spacing: 0;
}
.total-card-footer .card-item:last-child {
    margin-bottom: 0;
}
.total-card-red .total-card-footer .card-item .number {
    color: rgba(232, 0, 84, 0.85);
}
.total-card-green .total-card-footer .card-item .number {
    color: rgba(11, 221, 83, 0.85);
}
/* ----- /TOTAL CARD ----- */
/*  */
/* ----- GRAPH BOX ----- */
.graph-box {
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.07);
    background-color: #fff;
    border-radius: 0.125rem;
    padding: 1.875rem 0.975rem 2.075rem 1.875rem;
    margin-bottom: 1.5rem;
    flex-wrap: wrap;
}
.graph-box p {
    max-width: 27rem;
}
.graph-box .chart{
    height: 222px;
    width: 100%;
    margin-bottom: -0.2rem;
    position: relative;
}
.graph-box .chart canvas {
    width: 100% !important;
    height: 100% !important;
}
.line-designation {
    display: flex;
    align-items: center;
    margin-top: 1.2rem;
    margin-bottom: 2.4rem;
}
.line-designation .line-item {
    display: flex;
    align-items: center;
    color: #8C8C8C;
    font-size: 0.75rem;
    margin-right: 0.7rem;
}
.line-designation .line-item span {
    width: 1.6875rem;
    flex: 0 0 1.6875rem;
    height: 0.8125rem;
    border-radius: 1.25rem;
    margin-right: 0.6rem;
}
.graph-box.full-width {
    display: flex;
    padding: 2.375rem 1.875rem 1.975rem;
    margin-bottom: 0;
}
.graph-box.full-width > div:first-child {
    flex: 0 0 50%;
    max-width: 50%;
}
.graph-box.full-width p {
    max-width: 28rem;
}
.graph-box.full-width .chart {
    height: 147px;
    margin-top: -0.7rem;
    flex: 1;
}
.graph-box.full-width .line-designation {
    margin-bottom: 0;
}
/* ----- /GRAPH BOX ----- */
/*  */
/* ----- ALERT ERROR ----- */
.alert{
    display: flex;
    padding: 1rem 1rem 1rem 1.4rem;
}
.alert-error {
    position: fixed;
    top: 4.5rem;
    right: 1.5rem;
    max-width: 24rem;
    background: #FFFFFF;
    box-shadow: 0px 3px 6px -4px rgba(0, 0, 0, 0.12), 0px 6px 16px rgba(0, 0, 0, 0.08), 0px 9px 28px 8px rgba(0, 0, 0, 0.05);
    border-radius: 0.25rem;
    z-index: 10001;   
}
.alert .icon {
    width: 1.5rem;
    height: 1.5rem;
    flex: 0 0 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
}
.alert .icon img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.alert-error h5 {
    font-weight: 400;
    color: rgba(0, 0, 0, 0.85);
    margin-top: 0.2rem;
    margin-bottom: 0.8rem;
}
.alert-error p {
    font-size: 0.875rem;
    line-height: 1.375rem;
    color: rgba(0, 0, 0, 0.85);
    letter-spacing: 0px;
}
.alert-error .btn {
    margin-left: auto;
    padding: 0rem 0.5rem;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
}
.alert-error > div {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.alert .btn-close {
    position: absolute;
    right: 1.1rem;
    top: 1.2rem;
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='12' viewBox='0 0 10 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.8095 5.99902L9.91106 1.10996C9.97981 1.02871 9.922 0.905273 9.81575 0.905273H8.56888C8.49544 0.905273 8.42513 0.938086 8.37669 0.994336L4.99388 5.02715L1.61106 0.994336C1.56419 0.938086 1.49388 0.905273 1.41888 0.905273H0.172C0.0657503 0.905273 0.00793765 1.02871 0.0766877 1.10996L4.17825 5.99902L0.0766877 10.8881C0.061287 10.9062 0.0514069 10.9283 0.04822 10.9519C0.0450331 10.9755 0.0486732 10.9994 0.0587085 11.021C0.0687439 11.0425 0.0847529 11.0608 0.104835 11.0735C0.124916 11.0862 0.148227 11.0929 0.172 11.0928H1.41888C1.49231 11.0928 1.56263 11.06 1.61106 11.0037L4.99388 6.9709L8.37669 11.0037C8.42356 11.06 8.49388 11.0928 8.56888 11.0928H9.81575C9.922 11.0928 9.97981 10.9693 9.91106 10.8881L5.8095 5.99902Z' fill='black' fill-opacity='0.45'/%3E%3C/svg%3E%0A");
    opacity: 1;
    background-size: contain;
    background-repeat: no-repeat;
    width: 0.75rem;
    height: 0.75rem;
    padding: 0;
}
.alert h6:last-child {
    margin-bottom: 0;
}
.alert h6 {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.85);
    letter-spacing: 0;
}
.alert-success {
    background: #F6FFED;
    border: 1px solid #B7EB8F;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.07);
    margin: 0 0.6rem;
    padding: 0.6rem 0.1rem 0.6rem 0.9rem;
    align-items: center;
    margin-bottom: 1.5rem;
}
.alert-success .icon {
    width: 1rem;
    height: 1rem;
    flex: 0 0 1rem;
    margin-right: 0.5rem;
}
.alert-success .btn-close {
    top: 0.9rem;
    right: 1rem;
}
/* ----- /ALERT ERROR ----- */
/*  */
/* ----- CONTENT LINKS ----- */
.content-wrap-links .breadcrumb {
    margin-bottom: 1.1rem;
}
.content-wrap-links h1 {
    margin-bottom: 0;
}
.content-wrap .title {
    display: flex;
    align-items: center;
}
.content-wrap-links .content-head {
    padding-bottom: 1.8rem;
}
.content-wrap-links {
    padding-bottom: 5.1rem;
}
/* ----- /CONTENT LINKS ----- */
/*  */
/* ----- DROPDOWN FILTERS ----- */
.dropdown-filters {
    margin-left: auto;
    position: relative;
}
.dropdown-filters .dropdown-toggle::after {
    display: none;
}
.dropdown-filters .dropdown-toggle {
    font-size: 0.875rem;
    display: flex;
    align-items: center;
    padding: 0.35rem 0.9rem;
    font-weight: 400;
    line-height: 1.2rem;
}
.dropdown-filters .dropdown-toggle img {
    margin-right: 0.6rem;
}
.dropdown-filters .dropdown-toggle.show, 
.dropdown-filters .dropdown-toggle:focus,
.dropdown-filters .dropdown-toggle.show:focus {
    border: 1px solid #D9D9D9;
    background-color: #fff;
    color: rgba(0, 0, 0, 0.85);
    box-shadow: none;
}
.dropdown-filters .dropdown-menu {
    background: #FFFFFF;
    /* box-shadow: inset -1px 0px 0px #F0F0F0; */

    box-shadow: 0px 2px 8px rgb(0 0 0 / 15%);
    border: 0;
    border-radius: 0;
    min-width: 17.5rem;
    inset: 0px 0px auto auto !important;
    transform: none !important;
    padding: 0;
}
.dropdown-filters .dropdown-menu .dropdown-menu-head {
    background: #FAFAFA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.4rem 1rem 1.2rem;
}
.dropdown-filters .dropdown-menu h6 {
    color: rgba(0, 0, 0, 0.85);
    font-weight: 500;
    font-size: 0.875rem;
    margin-bottom: 0;
    letter-spacing: 0;
    line-height: 1.375rem;
}
.dropdown-filters .dropdown-menu .dropdown-menu-head .btn {
    font-size: 0.875rem;
    text-decoration: none;
    font-weight: 400;
    padding: 0;
    line-height: 1.375rem;
    margin-left: 0.4rem;
}
.dropdown-filters .dropdown-menu .dropdown-menu-head .btn-link {
    color: #1890FF;
}
.dropdown-filters .dropdown-menu .dropdown-menu-head .text-black {
    color: rgba(0, 0, 0, 0.85);
}
.dropdown-filters .dropdown-menu .dropown-nav {
    display: flex;
    align-items: center;
}
.dropdown-filters .input-group.search {
    margin: 0.5rem auto;
    justify-content: center;
}
.dropdown-filters .input-group.search .form-control {
    width: auto;
    max-width: 82%;
}
.dropdown-filters .accordion-button {
    font-size: 0.875rem;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 400;
    border-radius: 0;
    border: 0;
    padding: 0.41rem 1rem;
}
.dropdown-filters .accordion-button::after {
    background-image: url("data:image/svg+xml,%3Csvg width='8' height='6' viewBox='0 0 8 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.53548 2.35036C7.926 1.95984 7.926 1.32667 7.53548 0.936146C7.14495 0.545621 6.51179 0.545621 6.12126 0.936146L3.99997 3.05744L1.87865 0.93612C1.48812 0.545595 0.854958 0.545595 0.464434 0.93612C0.0739098 1.32664 0.0739098 1.95981 0.464434 2.35033L3.28675 5.17265C3.28877 5.1747 3.2908 5.17675 3.29284 5.17879C3.67726 5.56321 4.2968 5.56922 4.68857 5.19681C4.69479 5.1909 4.70095 5.18489 4.70705 5.17879C4.70706 5.17878 4.70707 5.17877 4.70707 5.17876C4.70714 5.17869 4.70721 5.17862 4.70728 5.17855L7.53548 2.35036Z' fill='black' fill-opacity='0.85'/%3E%3C/svg%3E%0A");
    width: 0.5rem;
    background-size: contain;
    height: 0.5rem;
    background-position: center;
}
.dropdown-filters .accordion-item {
    border: 0;
    margin-bottom: 0.5rem;
}
.dropdown-filters .accordion-button:not(.collapsed) {
    background: transparent;
    border: 0;
    box-shadow: none;
    color: #1890FF;
}
.dropdown-filters .accordion-collapse {
    background: rgba(0, 0, 0, 0.03);
    padding: 0.5rem 0.9rem 0.5rem 1.1rem;
    
}
.dropdown-filters .form-check {
    font-size: 0.875rem;
    line-height: 1.1rem;
    color: rgba(0, 0, 0, 0.85);
    padding-left: 1.4rem;
    letter-spacing: 0;
    margin-bottom: 0.88rem;
}
.dropdown-filters .form-check .form-check-input {
    width: 1rem;
    height: 1rem;
    border-radius: 0.125rem;
    margin-left: -1.5rem;
    border-color: #D9D9D9;
    margin-top: 0;
}
.dropdown-filters .form-check:last-child {
    margin-bottom: 0;
}
.dropdown-filters .form-check .form-check-input:checked {
    border-color: #1890FF;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.10545 7.60407L5.08783 7.62169L0.687988 3.22185L2.12067 1.78917L5.10551 4.77402L9.87953 0L11.3122 1.43268L5.12313 7.62175L5.10545 7.60407Z' fill='white'/%3E%3C/svg%3E%0A");
    background-size: 0.625rem;
}
.dropdown-filters .dropdown-menu .accordion-item h6 {
    margin-bottom: 0.5rem;
}
.dropdown-filters .dropdown-menu .accordion-item select.disabled {
    color: rgba(0, 0, 0, 0.25);
    background-image: url("data:image/svg+xml,%3Csvg width='11' height='8' viewBox='0 0 11 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.8931 0.571289H9.88867C9.82036 0.571289 9.75608 0.604771 9.7159 0.659682L5.91099 5.90433L2.10608 0.659682C2.0659 0.604771 2.00161 0.571289 1.93331 0.571289H0.928846C0.841792 0.571289 0.790899 0.670396 0.841792 0.741379L5.56411 7.25165C5.73554 7.48736 6.08644 7.48736 6.25652 7.25165L10.9788 0.741379C11.0311 0.670396 10.9802 0.571289 10.8931 0.571289Z' fill='black' fill-opacity='0.25'/%3E%3C/svg%3E%0A");
}
.dropdown-filters .dropdown-menu .accordion-item select {
    font-size: 0.875rem;
    height: 2rem;
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='12' viewBox='0 0 10 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.15203 3.51758H8.31498C8.25806 3.51758 8.20449 3.54548 8.17101 3.59124L5.00025 7.96178L1.82949 3.59124C1.796 3.54548 1.74243 3.51758 1.68551 3.51758H0.84846C0.775916 3.51758 0.733505 3.60017 0.775916 3.65932L4.71118 9.08454C4.85404 9.28097 5.14645 9.28097 5.28819 9.08454L9.22346 3.65932C9.26699 3.60017 9.22458 3.51758 9.15203 3.51758Z' fill='black' fill-opacity='0.85'/%3E%3C/svg%3E%0A");
    margin-right: 1.2rem;
    border: 1px solid #D9D9D8;
    background-position-x: 96.2%;
    background-size: 0.8rem;
    color: rgba(0, 0, 0, 0.85);
    background-color: #fff;
    line-height: 1.375rem;
    padding: 0 0.7rem;
}
.dropdown-filters .form-radio .form-check-input {
    border-radius: 50%;
}
.dropdown-filters .form-radio .form-check-input:checked {
    border-color: #1890FF;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3Csvg width='8' height='8' viewBox='0 0 8 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='8' height='8' rx='4' fill='%231890FF'/%3E%3C/svg%3E%0A");
    background-size: 0.5rem;
}
.dropdown-filters .form-radio {
    margin-bottom: 0.4rem;
}

.daterangepicker .calendar thead tr:first-child {
    line-height: 1rem;
}

.daterangepicker .calendar thead tr:last-child th {
    padding-top: 20px;
    padding-bottom: 0.2rem;
}

.daterangepicker .calendar:before {
    content: '';
    left: -0.3rem;
    border-bottom: 1px solid #F0F0F0;
    position: absolute;
    bottom: -0.2rem;
    right: -0.3rem;
}

.daterangepicker.ltr .ranges .btn {
    line-height: 1rem;
}

/* ----- /DROPDOWN FILTERS ----- */
/*  */
/* ----- DATEPICKER ----- */
.daterangepicker.dropdown-menu {
    min-width: 35rem;
    right: 38px !important;
    left: auto !important;
    margin-top: 8px;
}
.daterangepicker .calendar {
    width: 50%;
    flex: 0 0 50%;
    max-width: 50%;
    margin: 0;
}

.form-control.form-control-daterange {
    margin-top: 0.5rem;
    padding: 0.175rem 0.75rem 0.275rem;
    font-size: 0.86rem;
    background-image: url("../images/icon-calendar.svg"), url("../images/icon-date-arr.svg");
    background-repeat: no-repeat;
    background-position: calc(100% - 0.5rem),  calc(6.9rem) 0.65rem;
}

.daterangepicker.ltr .calendar .daterangepicker_input {
    display: none;
}

div.daterangepicker.opensright:after {
    left: auto;
    right: 23px;
}

div.daterangepicker.opensright:before {
    left: auto;
    right: 22px;
}

.daterangepicker .calendar td {
    min-width: 24px;
    font-size: 0.875rem;
    line-height: 1.47rem;
    color: rgba(0, 0, 0, 0.85);
}
.daterangepicker td.off {
    color: rgba(0, 0, 0, 0.25);
}

.daterangepicker .calendar th {
    min-width: 28px;
    font-weight: 400;
    font-size: 0.875rem;
    color: rgba(0, 0, 0, 0.85);
}
.daterangepicker .calendar th.prev.available {
    background: url(../images/prev-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.daterangepicker .calendar th.next.available {
    background: url(../images/next-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.daterangepicker .calendar {
    position: relative;
}

.daterangepicker .calendar:after {
    content: '';
    left: -0.3rem;
    border-bottom: 1px solid #F0F0F0;
    position: absolute;
    top: 2.3rem;
    right: -0.3rem;
}

.daterangepicker .calendar thead tr:last-child {
    line-height: 1.3rem;
    height: 2.8rem;
    vertical-align: middle;
}
.daterangepicker.ltr .ranges {
    float: right;
    margin-top: 0.6rem;
    margin-right: 0.5rem;
}

.daterangepicker.ltr .ranges .btn-default {
    display: none;
}

.daterangepicker.ltr .ranges .btn-success {
    background-color: #3093fd;
    border: 0;
}

.daterangepicker .calendar td.end-date {
    background-color: #3093fd;
    border-radius: 3px;
    color: #fff;
}

.daterangepicker .calendar td.start-date {
    background: transparent;
    border: 1px solid #3093fd !important;
    color: inherit;
    border-radius: 3px;
}

.daterangepicker table {
    border-collapse: initial;
}
/* ----- /DATEPICKER ----- */
/*  */
/* ----- LINKS TABLE ----- */
.links-table-wrap {
    background: #FFFFFF;
    margin: 0 0.6rem;
    padding-bottom: 0.6rem;
}
.table-header {
    flex-wrap: wrap;
    align-items: center;
    display: flex;
    padding: 1rem 2rem;
    box-shadow: inset 0px -1px 0px #F0F0F0;
}
.table-header h5 {
    margin-bottom: 0;
    display: flex;
    align-items: center;
    font-weight: 500;
    line-height: 1.5rem;
}
.table-header h5 img {
    margin-right: 0.6rem;
}
.table-header .btn {
    white-space: nowrap;
    display: flex;
    align-items: center;
    padding: 0.3rem 1.4rem;
    justify-content: center;
    margin-left: 0.5rem;
    margin-right: -0.05rem;
}
.table-header .btn img {
    margin-right: 0.5rem;
}
.table-header .btn-outline-secondary {
    padding: 0.3rem 1rem;
}
/* .table {
    display: flex;
    flex-direction: column;
} */
.table-title {
    display: flex;
    flex-wrap: wrap;
    background: #FAFAFA;
}
.table-title th {
    background: #FAFAFA;
    padding: 0.35rem 0rem;
    flex: 1;
    position: relative;
    font-size: 0.875rem;
    font-weight: 500;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.03);
}
.table-title .dropdown .dropdown-toggle {
    border: 0;
    font-weight: 500;
    display: flex;
    width: 100%;
    padding: 0 1rem;
    justify-content: flex-start;
    text-align: left;
    line-height: 1.375rem;
    height: 100%;
    align-items: center;
    position: relative;
    box-shadow: none;
}
.table-title .dropdown .dropdown-toggle:focus {
    box-shadow: none;
}
.table-title .dropdown .dropdown-toggle img {
    margin-left: 0.4rem;
}
.table-title .dropdown .dropdown-toggle::after {
    display: block;
    background-image: url(../images/icon-sort.svg);
    background-repeat: no-repeat;
    border: 0;
    width: 0.6875rem;
    height: 1.375rem;
    margin-left: auto;
    margin-right: 0rem;
    position: absolute;
    right: 0.9rem;
}
.table-title th:first-child {
    flex: 0 0 19%;
    max-width: 19%;
}
.table-title th:nth-child(2) {
    flex: 0 0 8.3%;
    max-width: 8.3%;
}
.table-title .dropdown {
    height: 100%;
    width: 100%;
    position: relative;
}
.table-title th:nth-child(3) {
    flex: 0 0 11%;
    max-width: 11%;
}
.table-title th::after {
    content: '';
    width: 1px;
    background: rgba(0, 0, 0, 0.03);
    height: 1.375rem;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    right: -1px;
    z-index: 10;
}
.table-title th:nth-child(4) {
    flex: 0 0 40.5%;
    max-width: 40.5%;
}
.table-title th:nth-child(4) .dropdown .dropdown-toggle {
    justify-content: center;
    text-align: center;
}
.table-title th:last-child::after {
    display: none;
}
.table-title th:nth-child(5) {
    flex: 0 0 11.1%;
    max-width: 11.1%;
}
.table-sub-title {
    padding-left: 38.4%;
    padding-right: 21%;
}
.table-sub-title th:first-child {
    flex: 0 0 22.8%;
    max-width: 22.8%;
}
.table-sub-title th:nth-child(2) {
    flex: 0 0 22.8%;
    max-width: 22.8%;
}
.table-sub-title th:nth-child(3) {
    flex: 0 0 27%;
    max-width: 27%;
}
.table-sub-title th:nth-child(4) {
    flex: 0 0 27%;
    max-width: 27%;
}
.table-sub-title th:nth-child(4) .dropdown .dropdown-toggle {
    text-align: left;
    justify-content: flex-start;
}
.table-item {
    display: flex;
    flex-wrap: wrap;
    font-size: 0.875rem;
    line-height: 1.375rem;
    color: rgba(0, 0, 0, 0.85);
}
.table-item td {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.8125rem 1rem;
    letter-spacing: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.03);
}
.table-item a {
    color: rgba(24, 144, 255, 0.85);
    display: flex;
    align-items: center;
}
.table-item .text-grey {
    display: flex;
    align-items: center;
    font-size: 0.75rem;
    color: #9998A0;
    line-height: 1.125rem;
    margin-top: 0.4rem;
}
.table-item .text-grey img {
    width: 0.75rem;
    height: 0.75rem;
    flex: 0 0 0.75rem;
    margin-right: 0.4rem;
}
.table-item .item-nav {
    display: flex;
    align-items: center;
    margin-left: auto;
    justify-content: flex-end;
}
.table-item .form-control {
    height: 2rem;
    border: 1px solid #D9D9D9;
    border-radius: 0.125rem;
    color: rgba(0, 0, 0, 0.85);
    font-size: 0.875rem;
}
.table-item .form-select {
    border: 1px solid #D9D9D9;
    height: 2rem;
    font-size: 0.875rem;
    color: rgba(0, 0, 0, 0.85);
    border-radius: 0.125rem;
    padding: 0.2rem 0.9rem 0.2rem 0.9rem;
    width: 3.6rem;
    margin-left: auto;
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='7' viewBox='0 0 10 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.15179 0.517578H8.31473C8.25782 0.517578 8.20424 0.54548 8.17076 0.591239L5 4.96178L1.82924 0.591239C1.79576 0.54548 1.74219 0.517578 1.68527 0.517578H0.848216C0.775671 0.517578 0.733261 0.600168 0.775671 0.659319L4.71094 6.08454C4.8538 6.28097 5.14621 6.28097 5.28795 6.08454L9.22322 0.659319C9.26674 0.600168 9.22433 0.517578 9.15179 0.517578Z' fill='black' fill-opacity='0.85'/%3E%3C/svg%3E%0A");
    background-size: 0.725rem 0.625rem;
}
.table-item td:first-child {
    flex: 0 0 19%;
    max-width: 19%;
}
.table-item td:nth-child(2) {
    flex: 0 0 8.3%;
    max-width: 8.3%;
    justify-content: flex-start;
    padding-left: 0.3rem;
    padding-right: 0.2rem;
}
.badge {
    width: 2.3125rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.375rem;
    font-size: 0.75rem;
    font-weight: 400;
    border-radius: 0.125rem;
}
.badge-orange {
    background: #FFF7E6;
    border: 1px solid #FFD591;
    color: #FA8C16;
}
.table-item .form-check {
    padding: 0;
    margin: 0;
    min-height: 1rem;
    justify-content: center;
    display: flex;
}
.table-item .form-check .form-check-input {
    margin: 0;
}
.form-check .form-check-input {
    width: 1rem;
    height: 1rem;
    border-radius: 0.125rem;
    cursor: pointer;
}
.form-check .form-check-input:focus {
    outline: none;
    box-shadow: none;
}
.form-check-input:checked {
    background-color: #1890FF;
    border-color: #1890FF;
}
.table-item td:nth-child(3) {
    flex: 0 0 11%;
    max-width: 11%;
}
.table-item td:nth-child(4) {
    flex: 0 0 9.6%;
    max-width: 9.6%;
}
.table-item td:nth-child(5) {
    flex: 0 0 8.9%;
    max-width: 8.9%;
}
.table-item td:nth-child(6) {
    flex: 0 0 11.4%;
    max-width: 11.4%;
}
.table-item td:nth-child(7) {
    flex: 0 0 10.6%;
    max-width: 10.6%;
}
.table-item td:nth-child(8) {
    flex: 0 0 11%;
    max-width: 11%;
}
.table-item .item-nav a {
    margin-left: 1rem;
}
.table-item .item-nav a:first-child {
    margin-left: 0;
}
.table-item.selected > div {
    background-color: rgba(0, 0, 0, 0.03);
}
.table-item  td > div {
    flex: 1;
}
.table-item .link img {
    width: 0.875rem;
    height: 0.875rem;
    flex: 0 0 0.875rem;
    margin-right: 0.5rem;
    margin-top: -0.1rem;
}
.badge-blue {
    background: #E6F7FF;
    border: 1px solid #91D5FF;
    color: #1890FF;
}
.badge-green {
    background: #F6FFED;
    border: 1px solid #B7EB8F;
    color: #52C41A;
}
.form-select:focus {
    box-shadow: none;
}
.form-select {
    cursor: pointer;
}
.table-title .dropdown .dropdown-toggle:hover, .table-title .dropdown .dropdown-toggle.show {
    background-color: transparent;
    color: rgba(0, 0, 0, 0.85);
}
.table-title .dropdown-menu {
    min-width: 100%;
    background: #ffffff;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    border: 0;
    padding: 0;
    border-radius: 0;
    margin-top: 0.2rem !important;
}
.table-title .dropdown-menu .dropdown-item {
    font-size: 0.875rem;
    line-height: 1.375rem;
    background: rgba(255, 255, 255, 0.03);
    padding: 0.6rem 0.9rem;
}
.table-title .dropdown-menu .dropdown-item.active {
    background: rgba(0, 0, 0, 0.03);
    color: rgba(0, 0, 0, 0.85);
}
.table>:not(:first-child) {
    border: 0;
}
/* ----- /LINKS TABLE ----- */
/*  */
/* ----- SEARCH ----- */
.search {
    height: 2rem;
    display: flex;
    margin-right: 0.5rem;
    max-width: 264px;
    width: 100%;
}
.search .form-control {
    font-size: 0.875rem;
    color: rgba(0, 0, 0, 0.85);
    height: 100%;
    border: 1px solid #D9D9D9;
    border-radius: 0.125rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 13.8rem;
}
.search .form-control::placeholder {
    color: rgba(0, 0, 0, 0.25);
}
.search .btn {
    border: 1px solid #D9D9D9;
    border-left: 0;
    border-radius: 0.125rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 0 0.5rem;
}
/* ----- /SEARCH ----- */
/*  */
/* ----- PAGINATION ----- */
.pagination {
    justify-content: flex-end;
    margin-top: 1.7rem;
    margin-right: 0.9rem;
    margin-bottom: 0.3rem;
}
.pagination .page-link {
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(0, 0, 0, 0.85);
    font-size: 0.875rem;
    border-radius: 0.125rem;
    padding: 0;
}
.pagination .page-item {
    margin-left: 0.58rem;
}
.pagination .page-item.active .page-link {
    background: #fff;
    border-color: #1890FF;
    color: #1890FF;
}
.pagination .page-item.disabled .page-link {
    border-color: #D9D9D9;
}
.pagination .page-item.disabled .page-link svg path {
    fill: #D9D9D9;
    fill-opacity: 1;
}
/* ----- /PAGINATION ----- */
/*  */
/* ----- MODAL ----- */
.modal-dialog {
    max-width: 35.9rem;
}
.modal-content {
    background: #FFFFFF;
    box-shadow: 0px 3px 6px -4px rgba(0, 0, 0, 0.12), 0px 6px 16px rgba(0, 0, 0, 0.08), 0px 9px 28px 8px rgba(0, 0, 0, 0.05);
    border-radius: 0.125rem;
}
.modal-header {
    box-shadow: inset 0px -1px 0px #F0F0F0;
    border: 0;
    padding: 1rem 1.5rem;
}
.modal-header .modal-title {
    display: flex;
    align-items: center;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.85);
}
.modal-header h5 img {
    margin-right: 0.7rem;
}
.modal-header .btn-close {
    opacity: 1;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.92472 5.99916L11.6122 0.411663C11.6908 0.318806 11.6247 0.177734 11.5033 0.177734H10.0783C9.99437 0.177734 9.91401 0.215234 9.85865 0.27952L5.99258 4.88845L2.12651 0.27952C2.07294 0.215234 1.99258 0.177734 1.90687 0.177734H0.481867C0.360439 0.177734 0.294367 0.318806 0.372939 0.411663L5.06044 5.99916L0.372939 11.5867C0.355338 11.6074 0.344047 11.6327 0.340404 11.6596C0.336762 11.6865 0.340922 11.7139 0.352391 11.7386C0.36386 11.7632 0.382156 11.784 0.405107 11.7985C0.428057 11.8131 0.454698 11.8207 0.481867 11.8206H1.90687C1.9908 11.8206 2.07115 11.7831 2.12651 11.7188L5.99258 7.10988L9.85865 11.7188C9.91222 11.7831 9.99258 11.8206 10.0783 11.8206H11.5033C11.6247 11.8206 11.6908 11.6795 11.6122 11.5867L6.92472 5.99916Z' fill='black' fill-opacity='0.45'/%3E%3C/svg%3E%0A");
    padding: 0;
    width: 0.875rem;
    height: 0.875rem;
    margin-right: 0.1rem;
}
.modal .form-switch,
.new-url-modal .form-switch {
    padding-left: 0;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2.1rem;
    cursor: pointer;
}
.modal .form-switch .form-check-label::after,
.new-url-modal .form-switch .form-check-label::after {
    content: 'Extended input off';
    font-size: 0.875rem;
    letter-spacing: 0;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 400;
    margin-left: 0.6rem;
    transition: 0.4s;
}
.modal-body {
    padding: 0.4rem 1.5rem 1rem;
}
.form-switch .form-check-input {
    margin-left: 0;
    background-color: #BFBFBF;
    width: 2.75rem;
    height: 1.375rem;
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_d_499_17012)'%3E%3Crect x='4' y='2' width='18' height='18' rx='9' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d_499_17012' x='0' y='0' width='26' height='26' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='2'/%3E%3CfeGaussianBlur stdDeviation='2'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0.137255 0 0 0 0 0.0431373 0 0 0 0.2 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_499_17012'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_499_17012' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
    background-size: 1.6875rem;
    background-position: -0.1rem -0.05rem;
    border: 0;
}
.modal h6,
.new-url-modal h6 {
    color: rgba(0, 0, 0, 0.85);
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.375rem;
    letter-spacing: 0;
    margin-bottom: 0.4rem;
}
.modal .input-group .form-control,
.new-url-modal .input-group .form-control {
    font-size: 0.875rem;
    height: 100%;
    border: 1px solid #D9D9D9;
    border-top-right-radius: 0.125rem;
    border-bottom-right-radius: 0.125rem;
}
.modal .input-group,
.new-url-modal .input-group {
    max-width: 25rem;
    height: 2rem;
}
.modal .input-group .input-group-text,
.new-url-modal  .input-group .input-group-text {
    box-shadow: inset 1px 0px 0px #D9D9D9, inset 0px 1px 0px #D9D9D9, inset 0px -1px 0px #D9D9D9;
    background: #FAFAFA;
    font-size: 0.875rem;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 400;
    height: 100%;
    padding: 0.375rem 0.75rem;
    letter-spacing: 0;
    border: 0;
    border-top-left-radius: 0.125rem;
    border-bottom-left-radius: 0.125rem;
}
.modal .input-group .form-control::placeholder,
.new-url-modal .input-group .form-control::placeholder {
    color: rgba(0, 0, 0, 0.25);
}
.modal .add-link,
.new-url-modal .add-link {
    color: rgba(0, 0, 0, 0.85);
    font-size: 0.875rem;
    display: flex;
    align-items: center;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.016);
    border: 1px dashed #D9D9D9;
    justify-content: center;
    margin: 0 auto;
    max-width: 8.75rem;
    letter-spacing: 0;
    border-radius: 0.125rem;
}
.modal .add-link img,
.new-url-modal .add-link img {
    margin-right: 0.6rem;
}
.modal-footer {
    box-shadow: inset 0px 1px 0px #F0F0F0;
    border: 0;
    padding: 0.45rem 0.75rem 0.2rem;
}
.modal-footer .btn {
    padding: 0.3rem 1rem;
}
.modal .extended-input,
.new-url-modal .extended-input {
    display: none;
}
.modal .extended-input.active,
.new-url-modal .extended-input.active {
    display: block;
}
.form-switch .form-check-input:checked~.form-check-label::after {
    content: 'Extended input on';
}
.form-switch .form-check-input:checked {
    background-color: #1890FF;
    background-position: 1.2rem -0.05rem;
    background-size: 1.6875rem;
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_d_499_17012)'%3E%3Crect x='4' y='2' width='18' height='18' rx='9' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d_499_17012' x='0' y='0' width='26' height='26' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='2'/%3E%3CfeGaussianBlur stdDeviation='2'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0.137255 0 0 0 0 0.0431373 0 0 0 0.2 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_499_17012'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_499_17012' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
}
.form-switch .form-check-input:focus{
    box-shadow: none;
}
.form-switch .form-check-input:not(:checked) {
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_d_499_17012)'%3E%3Crect x='4' y='2' width='18' height='18' rx='9' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d_499_17012' x='0' y='0' width='26' height='26' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='2'/%3E%3CfeGaussianBlur stdDeviation='2'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0.137255 0 0 0 0 0.0431373 0 0 0 0.2 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_499_17012'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_499_17012' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
}
.modal textarea.form-control,
.new-url-modal textarea.form-control {
    font-size: 0.875rem;
    height: 2.875rem;
    margin-top: 0.6rem;
    padding: 0.1rem 0.5rem;
    margin-bottom: 0.3rem;
}
.modal textarea.form-control::placeholder,
.new-url-modal textarea.form-control::placeholder {
    color: rgba(0, 0, 0, 0.25);
}
.modal .extended-input p,
.new-url-modal .extended-input p {
    color: #8C8C8C;
    font-size: 0.75rem;
    margin-bottom: 0.4rem;
    letter-spacing: 0;
    line-height: 1.4375rem;
}
/* ----- /MODAL ----- */
/*  */
/* ----- MEDIA ----- */
@media(max-width: 1200px){
    .Import-btn {order: 1;}
    #import_csv {order: 2;}
    .Automatically-dorpdown {
        order: 5;
        margin-right: 0 !important;
        margin-top: 10px;
    }
    .search{ order: 4;
        max-width: 76%;
        margin-top: 10px;
    }
}
@media(max-width: 1150px){
    .search {
        max-width: 71%;
    }
}   
@media(max-width: 1199px){
    .content-wrap {
        padding-left: 3.3rem;
        padding-top: 3rem;
        max-width: 100%;
    }
    /* ----- GRAPH BOX ----- */
    .graph-box {
        padding: 1.875rem 1.875rem 2.075rem 1.875rem;
    }
    .graph-box.full-width {
        padding: 1.875rem 1.875rem 2.075rem 1.875rem;
        flex-wrap: wrap;
    }
    .graph-box.full-width > div:first-child {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .graph-box.full-width .line-designation {
        margin-bottom: 2.4rem;
    }
    .graph-box.full-width .chart {
        height: 222px;
        flex: 0 0 100%;
    }
    /* ----- /GRAPH BOX ----- */
    /*  */
    /* ----- SIDEBAR ----- */
    .sidebar {
        position: fixed;
        left: 0;
        top: 3rem;
        right: 0;
        overflow: hidden;
    }
    .sidebar-open {
        flex: 0 0 13rem;
    }
    
    /* ----- /SIDEBAR ----- */
    /*  */
    /* ----- HEADER ----- */
    .header {
        position: fixed;
        width: 100%;
        z-index: 1000;
    }
    /* ----- /HEADER ----- */
    /*  */
    /* ----- LINKS TABLE ----- */
    .table-title th:nth-child(6) {
        flex: 0 0 7.5rem;
        max-width: 7.5rem;
    }
    .table-item td:first-child {
        flex: 0 0 14.0625rem;
        max-width: 14.0625rem;
    }
    .table-item td:nth-child(2) {
        flex: 0 0 6.25rem;
        max-width: 6.25rem;
    }
    .table-item td:nth-child(3) {
        flex: 0 0 8.125rem;
        max-width: 8.125rem;
    }
    .table-item td:nth-child(4) {
        flex: 0 0 6.875rem;
        max-width: 6.875rem;
    }
    .table-item td:nth-child(5) {
        flex: 0 0 6.875rem;
        max-width: 6.875rem;
    }
    .table-item td:nth-child(6) {
        flex: 0 0 8.125rem;
        max-width: 8.125rem;
    }
    .table-item td:nth-child(7) {
        flex: 0 0 8.125rem;
        max-width: 8.125rem;
    }
    .table-item td:nth-child(8) {
        flex: 0 0 8.125rem;
        max-width: 8.125rem;
    }
    .table-item td:nth-child(9) {
        flex: 0 0 7.5rem;
        max-width: 7.5rem;
    }
    .table-title th:first-child {
        flex: 0 0 14.0625rem;
        max-width: 14.0625rem;
    }
    .table-title th:nth-child(2) {
        flex: 0 0 6.25rem;
        max-width: 6.25rem;
    }
    .table-title th:nth-child(3) {
        flex: 0 0 8.125rem;
        max-width: 8.125rem;
    }
    .table-title th:nth-child(4) {
        flex: 0 0 30rem;
        max-width: 30rem;
    }
    .table-title th:nth-child(5) {
        flex: 0 0 8.125rem;
        max-width: 8.125rem;
    }
    .table-title, .table-item {
        flex-wrap: nowrap;
        min-width: 74.0625rem;
    }
    .table-sub-title th:first-child {
        flex: 0 0 6.875rem;
        max-width: 6.875rem;
    }
    .table-sub-title th:nth-child(2) {
        flex: 0 0 6.875rem;
        max-width: 6.875rem;
    }
    .table-sub-title th:nth-child(3) {
        flex: 0 0 8.125rem;
        max-width: 8.125rem;
    }
    .table-sub-title th:nth-child(4) {
        flex: 0 0 8.125rem;
        max-width: 8.125rem;
    }
    .links-table-wrap .table-body {
        overflow: hidden;
        overflow-x: scroll;
    }
    .table-sub-title {
        padding-left: 28.4375rem;
        padding-right: 15.625rem;
    }
    /* ----- /LINKS TABLE ----- */
    /*  */
}
@media(max-width: 1023px){
    .content-wrap .container-fluid > .row {
        margin-bottom: 0;
    }
    /* ----- TOTAL CARD ----- */
    .total-card {
        margin-bottom: 1.5rem;
    }
    /* ----- /TOTAL CARD ----- */
    /*  */  
    /* ----- ALERT ----- */
    .alert-success {
        margin: 0 0.5rem 1.5rem;
    }
    /* ----- /ALERT ----- */
    /*  */
    /* ----- LINKS TABLE ----- */
    .table-nav {
        flex: 0 0 100%;
        max-width: 100%;
        margin-top: 1rem;
    }
    .search {
        margin: 10px 0;
        max-width: 100%;
    }
    .Automatically-dorpdown {
        width: 100%;
    }
    .Automatically-dorpdown .btn-outline-secondary {
        padding: 0.3rem 1rem;
        text-align: center !important;
    }
    .Automatically-dorpdown .dropdown-menu {
        min-width: 79% !important;
    }
    /* ----- /LINKS TABLE ----- */
    /*  */
}
@media(max-width: 767px){
    
    /* ----- DASHBOARD CONTENT ----- */
    .main-content {
        flex-direction: column;
    }
    .cards .col {
        padding: 0;
    }
    .content-wrap {
        padding-left: 0;
    }
    .graphs .col {
        padding: 0;
    }
    /* ----- /DASHBOARD CONTENT ----- */
    /*  */
    /* ----- HEADER ----- */
    .header {
        justify-content: space-between;
        align-items: center;
    }
    /* ----- /HEADER ----- */
    /*  */
    /* ----- SIDEBAR ----- */
    .sidebar {
        max-width: 0;
        left: auto;
        flex: 0 0 100%;
    }
    .sidebar-open {
        max-width: 100%;
        width: 100%;
    }
    .sidebar .header-nav {
        margin: 1rem auto 1rem auto;
    }
    .sidebar .header-nav .header-icon {
        margin: 0 0.4rem;
    }
    /* ----- /SIDEBAR ----- */
    /*  */
    /* ----- GRAPH BOX ----- */
    .graph-box {
        padding: 1.375rem 1.1rem 2.075rem 1.1rem;
    }
    .line-designation .line-item {
        width: 100%;
        flex: 0 0 100%;
    }
    .line-designation {
        flex-wrap: wrap;
        margin-bottom: 1rem;
    }
    /* ----- /GRAPH BOX ----- */
    /*  */
    /* ----- ALERT ERROR ----- */
    .alert-error {
        left: 0;
        right: 0;
        max-width: 22rem;
        margin: 0 auto;
        top: 4rem;
    }
    .alert-success {
        margin: 0 0 1.5rem;
    }
    /* ----- /ALERT ERROR ----- */
    /*  */
    /* ----- LINKS TABLE ----- */
    .table-header h5 {
        flex: 0 0 100%;
        max-width: 100%;
        justify-content: center;
        margin-bottom: 0.7rem;
    }
    .table-header .btn {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 0.7rem;
        margin-left: 0;
    }
    .search .btn {
        flex: 1;
        margin: 0;
    }
    .table-nav {
        margin-top: 0;
    }
    .links-table-wrap {
        margin: 0;
    }
    .search .form-control {
        width: auto;
    }
    .links-table-wrap .mobile-buttons {
        flex: 0 0 100%;
    }
    /* ----- /LINKS TABLE ----- */
    /*  */
    /* ----- PAGINATION ----- */
    .pagination {
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
    }
    .pagination .page-item {
        margin: 0 0.22rem;
    }
    /* ----- /PAGINATION ----- */
    /*  */
    /* ----- DATEPICKER ----- */
    .daterangepicker.dropdown-menu {
        min-width: 19rem;
    }
    .daterangepicker.show-calendar .calendar {
        width: 100%;
        max-width: 100%;
    }
    .Found-modal .modal-header {
        padding: 1rem 1rem;
        flex-direction: column;
        justify-content: start;
        align-self: start;
    }
    .model__search {
        max-width: 100%;
        width: 100%;
        margin-right: 0;
        margin-top: 12px;
    }
    .Found-modal-table {
        width: 767px;
    }
    /* ----- /DATEPICKER ----- */
    /*  */
}
/* ----- /MEDIA ----- */
/*  */

/* Rewards page style */ 

.referral-code-section {
    padding-top:24px; 
}
.referral-input {
    display: flex;
    align-items: center;
    justify-content: center;
}
.referral-input label {
    display: block;
    width: 100%;
    font-size: 0.9rem;
    font-weight: 600;
    line-height: 1.5rem;
    color: rgba(0, 0, 0, 0.85);
    padding-bottom: 0.6rem;
}
.referral-input .form-control  {
    max-width: 200px;
    border-color:#D9D9D9 ;
    background-color:#ffffff;
    padding: 7px 12px; 
    border-top-right-radius:0;
    border-bottom-right-radius:0;
    color: rgba(0, 0, 0, 0.85);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
}
.referral-input .btn {
    padding: 0.375rem 1rem;
    border-top-left-radius:0;
    border-bottom-left-radius:0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
}
.total-amount-card {
    border: 0;
    border-radius: 0;
}
.total-amount-card .card-body {
    padding: 0;
}
.total-amount-card .card-title {
    padding: 1rem 1.5rem;
    box-shadow: inset 0px -2px 0px #F0F0F0;
}
.total-amount-card .card-text {
    padding: 2.5rem 1.5rem;
    font-size: 40px;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 400;
    display: block;   
}
.total-amount-card .Reffered-use {
    padding: 1.5rem 1.5rem;
    display: flex;
    flex-wrap: wrap;
}
.total-amount-card .Reffered-use .icon:not(:last-child){
    margin-right: 4px;
}
.total-amount-card .Reffered-use .icon {
    max-width: 60px;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px dashed #D6D6D6;
    border-radius: 50%; 
    background-color:#ffffff;
}
.total-amount-card .Reffered-use .icon.active {
    background-color:#1890FF;
    border: 1px solid #1890FF; 
}
.total-amount-card .Reffered-use .icon.active svg path {
    fill: #fff;
}
.tooltip .tooltip-inner  {
    background: rgba(0, 0, 0, 0.75);
    border-radius: 2px;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    padding: 6px 8px;
}
.bs-tooltip-bottom .tooltip-arrow::before {
    border-bottom-color: rgba(0, 0, 0, 0.75); 
    bottom: 0;
}

/* sweent-modal */

.swal2-modal{
    padding-bottom: 0 !important;
}
.swal2-html-container {
    margin: 0 !important;
}

@media(max-width: 991px){
    .total-amount-card .Reffered-use .icon:not(:last-child){
        margin-right: 10px;
    }
}

.font-weight-500{font-weight: 500;}
button:focus{box-shadow: none !important;outline: none !important;}
.yellow-text{color: #faad14;}
.red-text{color: #ff4d4f;}
.black-text{color: #000;}
.table-font-14{font-size: 14px;}
.font-16{font-size: 16px;}
.font-14{font-size: 14px;}
.font-12{font-size: 12px;}
.secondary-color{color: rgba(0, 0, 0, 0.45) !important;}
.comment::before{content: '';position: absolute;right: 0;top: 50%;width: 1px;height: 16px;background-color: #F0F0F0;transform: translateY(-50%);}
.black-color-85{color: rgba(0, 0, 0, 0.85);}
.black-color-25{color: rgba(0, 0, 0, 0.25);}

.contact-form{
    max-width: 460px;
    width: 95%;
}
.contact-input{
    max-width: 378px;
    width: 100%;
    padding: 7px 15px;
}
.search-btn{
    max-width: 80px;
    width: 100%;
    padding-top: 7px;
    padding-bottom: 7px;
}

.contact-card-body{
    padding: 20px 25px 0px;
}
.contact-card{
    border: 1px solid #F0F0F0;
    border-radius: 2px;
    /* margin-bottom: 20px; */
}
.contact-width{max-width: 85%;}
.card-footer-p{
    padding: 9px;
}
.contact-name{
    margin-bottom: 9px;
}
.card-footer-custom{
    border-top: 1px solid #F0F0F0;
}
.star-icon{
    color: #fadb14;
    font-size: 20px;
}
.review-container .review-popup{
    max-width: 854px;
    width: 85%;
}
.review-popup .review-content{padding: 15px 10px 15px 30px;max-height: 550px;overflow-y: scroll;}

/* width */
.review-popup .review-content::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
.review-popup .review-content::-webkit-scrollbar-track {
    background: transparent; 
  }
   
  /* Handle */
.review-popup .review-content::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);border-radius: 10px;
  }
  
  /* Handle on hover */
/* .review-popup .review-content::-webkit-scrollbar-thumb:hover {
    background: #555; 
  } */
.review-popup .review-single{margin-bottom: 30px;}
.review-popup .review-single:last-child{margin-bottom: 0px;} 
.star-bg{background-image: url(../images/white-star.svg);width: 160px;height: 24px;object-fit: contain;background-repeat: repeat-x;background-size: 34px;}
.star-bg .star-rating{background-image: url(../images/star.svg);height: 24px;z-index: 1;background-repeat: repeat-x;display: block;background-size: 34px;}

.rating {display: flex;flex-direction: row-reverse;justify-content: start}
.rating>input {display: none}
.rating>label {position: relative;width: 24px;font-size: 24px;color: #f0f0f0;cursor: pointer;margin: 0 5px;}
.rating>label:hover,
.rating>label:hover~label {color: #fadb14;}
.rating>input:checked~label {color: #fadb14;}
.rating:hover>input:checked~label {color: #fadb14;}

.review-text{line-height: 1.5;}
.review-add{padding: 15px 0 0;}
.textarea-contact{height: auto !important;}

@media(max-width: 991px){
    .contact-width{max-width: 100%}
    .contact-width .row .col{padding: 0 10px;}
    .review-popup .review-content{padding: 15px 10px;max-height: 450px;}
    .font-14{font-size: 13px;}
}
@media(max-width: 767px){
    .review-popup .review-content{max-height: 400px;}
}
@media(max-width: 480px){
    .review-popup .review-content{max-height: 350px;}
}


/* Automatically-dorpdown */

.Automatically-dorpdown .dropdown-menu {
    min-width: 234px;
    border: none;
    box-shadow: 0px 2px 8px rgb(0 0 0 / 15%);
}
.Automatically-dorpdown .dropdown-menu .dropdown-item.active, 
.Automatically-dorpdown .dropdown-menu .dropdown-item:active {
    color: #212529;
    text-decoration: none;
    background-color: transparent;
    border: none;
}
.Automatically-dorpdown .dropdown-item {
    font-size: 14px;
    padding: 0.5rem 1rem;
}

/* Found-modal */
.Found-container .Found-popup{
    max-width: 910px;
    width: 100%;
}
.model__search {
    max-width: 264px;
    width: 100%;
    margin-right: 30px;
}
.Found-modal .modal-header {
    padding: 1.50rem 1.5rem;
}
.model__search .btn {
    border: 1px solid #ced4da;
}
.Found-modal-table table thead tr {
    border-bottom: 1px solid #f0f0f0;
}
.Found-modal-table thead tr th {
    vertical-align: middle;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.85);
}
.Found-modal-table thead tr th .form-check {
    margin-bottom: 0;
    margin-top: 8px;
}
.Found-modal-table  tbody tr td {
    vertical-align: middle;
    font-size: 14px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.85);
}
.Found-modal-table tbody tr,
.Found-modal-table tbody tr td {
    border: none;
}
.Found-modal-table  tbody tr td {
    word-break: break-all;
}
.Found-modal-table  tbody tr td a {
    color: rgba(0, 0, 0, 0.85);
}
.Found-modal-table  tbody tr td:nth-child(2) {
    padding-left: 0;
    padding-right:0
}
.Found-modal-table  tbody tr td:nth-child(5) {
    padding: 0 21px 0 0;
}
.Found-modal-table  tbody tr td:nth-child(2) a {
    padding-right: 90px;
    display: inline-block;
    word-break: break-all;
    letter-spacing: 0.5px;
}
.col__1 {width: 32px; }
.col__2 {width: 316px;}
.col__3 {width: 84px; }
.col__4 {width: 100px; }
.col__5 {width: 100px; }
.col__6 {width: 84px; }
.col__7 {width: 124px; } 